<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>부유물 탐지 시스템</title>
</head>
<body>
<div id="body_container">
    <h1>부유물 탐지 시스템</h1>
    <div>
        <p>분석할 이미지를 추가해주세요!!</p>
    </div>
    <div id="image_upload">
        <form method="post" enctype="multipart/form-data" id="fileUploadForm">
            <input type="hidden" name="message" value="객체탐지결과">
            <input type="file" name="file">
            <input type="button" value="분석하기">
        </form>
    </div>
    <script type="text/javascript" th:src="@{/script/image_processing.js}"></script>
    <div id="image_container">
        <div id="image_result">
            <div id="result1_name">
                <p>객체탐지결과</p>
            </div>
            <div id="result1"></div>
        </div>

        <div id="plot_result">
            <div id="result2_name">
                <p>분석결과</p>
            </div>
            <div id="result2"></div>
        </div>
    </div>

</div>
</body>
</html>
